<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="items"
      item-key="name"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td class="name-column">
            <v-layout align-center>
              <v-icon class="icon">folder</v-icon>
              {{ props.item.name}}
            </v-layout>
          </td>
          <td class="uuid-column">
            <v-layout align-center>
              {{ props.item.uuid}}
            </v-layout>
          </td>
          <td class="modified-column">
            <v-progress-linear v-model="props.item.progress"></v-progress-linear>
            <p>{{props.item.message}}</p>
          </td>
          <td class="action-column">
            <v-icon
              @click="() => handleDownload(props.item.name, props.item.uuid)"
            >
              save_alt
            </v-icon>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  /* eslint-disable no-console */

  import { services } from '@/api';

  export default {
    name: 'AssetCard',
    props: {
      items: {
        type: Array,
        required: true,
      },
      room: {
        type: String,
        required: true,
      },
    },
    data: () => ({
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name',
        },
        {
          text: 'UUID',
          align: 'left',
          sortable: false,
          value: 'uuid',
        },
        {
          text: 'Progress',
          align: 'left',
          sortable: false,
          value: 'progress',
        },
        {
          text: '',
          align: 'left',
          sortable: false,
          value: '',
        },
      ],
    }),
    methods: {
      handleDownload(name, uuid) {
        // const filename = path.split('/')[1];
        services.downloadFile(uuid, this.room)
          .then((res) => {
            const url = window.URL.createObjectURL(new Blob([res.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', name);
            document.body.appendChild(link);
            link.click();
          })
          .catch((err) => {
            console.log(err);
          });
      },
    },
  };
</script>

<style>
  .icon {
    margin-right: 20px;
  }
  .name-column {
    width: 30%;
  }
  .uuid-column {
    width: 30%;
  }
  .modified-column {
    width: 30%;
  }
  .action-column {
    width: 10%;
  }
  .header {
    margin-left: 15px;
  }
</style>
