<template>
  <v-snackbar
    :value="snackbar"
    :color="color"
    :timeout="timeout"
    @input="close"
  >
    {{ message }}
    <v-btn
      dark
      flat
      @click="close"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
  export default {
    name: 'Snackbar',
    props: {
      snackbar: {
        type: Boolean,
        required: true,
      },
      mode: {
        type: String,
        required: true,
      },
      message: {
        type: String,
        required: true,
      },
      callback: {
        type: Function,
        required: true,
      },
      timeout: {
        type: Number,
        required: true,
      },
      close: {
        type: Function,
        required: true,
      },
    },
    computed: {
      color() {
        return this.mode === 'success' ? ('success') : ('error');
      },
    },
  };
</script>

<style>

</style>
