<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>

      <v-flex xs12 v-if="isFailed">
        <!--FAILED-->
        <h2>Uploaded failed.</h2>
        <p>
          <a href="javascript:void(0)" @click="reset()">Try again</a>
        </p>
        <pre>{{ uploadError }}</pre>
      </v-flex>

      <v-flex xs12>
        <!--UPLOAD-->
        <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
          <div class="dropbox">
            <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="onFileChanged($event)" accept="application/gzip, .gz" class="input-file">
            <p v-if="isInitial">
              Drag your file(s) here to begin<br> or click to browse
            </p>
            <p v-if="isSaving">
              Uploading files...
            </p>
          </div>
        </form>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  /* eslint-disable no-console,array-callback-return */

  import { services } from '@/api';

  const STATUS_INITIAL = 0;
  const STATUS_SAVING = 1;
  const STATUS_SUCCESS = 2;
  const STATUS_FAILED = 3;

  export default {
    name: 'uploader',
    props: {
      isDialogOpen: false,
      onSuccess: {
        type: Function,
      },
      room: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        uploadedFiles: [],
        uploadError: null,
        currentStatus: STATUS_INITIAL,
        uploadFieldName: 'images',
      };
    },
    computed: {
      isInitial() {
        return this.currentStatus === STATUS_INITIAL;
      },
      isSaving() {
        return this.currentStatus === STATUS_SAVING;
      },
      isSuccess() {
        return this.currentStatus === STATUS_SUCCESS;
      },
      isFailed() {
        return this.currentStatus === STATUS_FAILED;
      },
    },
    methods: {
      reset() {
        // reset form to initial state
        this.currentStatus = STATUS_INITIAL;
        this.uploadedFiles = [];
        this.uploadError = '';
      },
      onFileChanged(event) {
        const files = event.target.files;
        if (!files.length) return;
        this.save(files);
      },
      save(files) {
        this.currentStatus = STATUS_SAVING;
        Array.from(Array(files.length).keys()).map((x) => {
          services.uploadFile(files[x], this.room)
            .then((res) => {
              console.log(res);
              this.reset();
              this.onSuccess();
            })
            .catch((error) => {
              this.uploadError = error;
              this.currentStatus = STATUS_FAILED;
            });
        });
        this.currentStatus = STATUS_SUCCESS;
      },
    },
    mounted() {
      this.reset();
    },
  };
</script>

<style>
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
