<template>
  <v-container fluid>
    <v-toolbar
      app
      class="accent white--text"
    >
      <div
        class="headline"
        v-text="title"></div>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          color="blue"
          class="white--text"
          @click="dialog = true"
        >
          Upload
          <v-icon right dark>cloud_upload</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-layout row>
      <v-dialog v-model="roomDialog" persistent max-width="290">
        <v-btn slot="activator" color="primary" dark>Change Room</v-btn>
        <v-card>
          <v-card-title class="headline">Change Room</v-card-title>
          <v-layout row justify-center>
            <v-flex xs10>
              <v-text-field
                outline
                v-model="room"
                label="Enter room name .."
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click.native="handleEnterRoom">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>

    <asset-card
      :items="items"
      :room="room"
    ></asset-card>

    <v-layout row justify-center>
      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>Upload</v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 300px;">
            <uploader
              :isDialogOpen="dialog"
              :onSuccess="onUploadSuccess"
              :room="room"
            ></uploader>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-layout>

    <snackbar
      :snackbar="snackbar"
      :mode="mode"
      :message="message"
      :timeout="timeout"
      :callback="showSnackBar"
      :close="closeSnackBar"
    >
    </snackbar>
  </v-container>
</template>

<script>
  import AssetCard from '@/components/AssetCard';
  import Uploader from '@/components/Uploader';
  import Snackbar from '@/components/Snackbar';

  export default {
    name: 'Home',
    components: {
      AssetCard,
      Uploader,
      Snackbar,
    },
    sockets:{
      connect(){
        console.log('socket connected');
      },
    },
    data() {
      return {
        title: 'All Files',
        dialog: false,
        snackbar: false,
        mode: '',
        message: '',
        timeout: 4000,
        items: [],
        roomDialog: false,
        room: '',
      };
    },
    methods: {
      initialize(){
        this.roomDialog = true;
      },
      closeModal() {
        this.dialog = false;
      },
      onUploadSuccess() {
        this.closeModal();
        this.showSnackBar('success', 'Upload success');
      },
      showSnackBar(mode, message) {
        this.mode = mode;
        this.message = message;
        this.snackbar = true;
      },
      closeSnackBar() {
        this.snackbar = false;
      },
      handleEnterRoom() {
        this.$socket.emit('leave room', this.room);
        this.$socket.emit('join room', this.room);
        this.roomDialog = false;
      },
    },
    created() {
      this.initialize();
      this.$options.sockets.status = (items) => {
        this.items = items;
      };
    },
  };
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
